---
import Pagination from "@/components/ui/Pagination.astro";
import Layout from "@/layouts/Layout.astro";
import { trimExcerpt } from "@/lib/utils";
import { template } from "@/settings";
import { getCollection } from "astro:content";

export async function getStaticPaths({
    paginate,
}): Promise<Astro.getStaticPathsResult> {
    const projects = await getCollection("projects");

    const posts = projects
        .map((post) => ({
            title: post.data.title,
            date: post.data.date,
            description: post.data.description,
            image: post.data.image,
            tags: post.data.tags,
            slug: `${template.base}/projects/${post.id}`,
        }))
        .sort(
            (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime(),
        );

    return paginate(posts, {
        pageSize: template.projectsPerPage,
    });
}
const { page } = Astro.props;
---

<Layout title="Projects">
    <div>
        <h1 class="text-3xl font-bold mb-8">Projects</h1>
        <div class="grid gap-8">
            {
                page.data.map((post) => (
                    <article class="card bg-base-200 transition-all">
                        {post.image && (
                            <a
                                href={post.slug}
                                class="block overflow-hidden rounded-t-lg"
                            >
                                <img
                                    src={post.image}
                                    alt={post.title}
                                    class="w-full h-96 object-cover hover:scale-110 transition-transform duration-300"
                                />
                            </a>
                        )}
                        <div class="card-body">
                            <div class="flex justify-between items-start">
                                <h2 class="card-title text-xl">
                                    <a
                                        href={post.slug}
                                        class="hover:text-accent"
                                    >
                                        {post.title}
                                    </a>
                                    {post.tags && post.tags.length > 0 && (
                                        <span class="ml-2 flex gap-1 justify-end">
                                            {post.tags
                                                .slice(0, 3)
                                                .map((tag) => (
                                                    <div class="badge badge-accent badge-outline p-4">
                                                        {tag}
                                                    </div>
                                                ))}
                                        </span>
                                    )}
                                </h2>
                            </div>
                            <time
                                datetime={post.date}
                                class="text-sm text-base-content/71"
                            >
                                {new Date(post.date).toLocaleDateString(
                                    "en-US",
                                    {
                                        year: "numeric",
                                        month: "long",
                                    },
                                )}
                            </time>
                            <p class="mt-4">{post.description}</p>
                            <div class="card-actions justify-end">
                                <a
                                    href={post.slug}
                                    class="btn btn-sm btn-secondary text-secondary-content"
                                >
                                    Read More
                                </a>
                            </div>
                        </div>
                    </article>
                ))
            }
        </div>

        <div class="flex justify-center mt-8">
            <Pagination page={page} />
        </div>
    </div>
</Layout>
